<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenBot Chat</title>
    <link rel="stylesheet" href="/static/chatbot.css">
</head>
<body>
    <header>
        <img src="/static/Assets/logo_Chat.png" alt="Chat Logo">
    </header>
    <main>
        <div id="main">
            <h3>Let's Grow Together!</h3>
            <ul>
                <li>Chat</li>
                <li>Cultivate</li>
                <li>Harvest</li>
            </ul>
        </div>
    </main>
    <footer>
        <form id="messageForm" class="chat-input">
            <img src="/static/Assets/logo_chatbox.PNG" alt="Chat Icon" class="chat-icon icon">
            <input type="text" id="msg" placeholder="Chat here">
            <button type="submit" class="search-btn" id="sendmsg">
                <img src="/static/Assets/search.png" alt="Search Icon" class="icon">
            </button>
        </form>
    </footer>
    <script src="/static/chatbot.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.getElementById("messageForm").addEventListener("submit", (event) => {
                event.preventDefault(); // Prevent default form submission
                sendMessage(); // Call function to handle form submission
            });
        });
    </script>
</body>
</html>
